.subtitle {
  font-size: .75rem;
}

.title {
  font-size: 1rem;
  font-weight: 600;
}

.deck-cards button {
  border-radius: 5px;
  padding: 3px 10px;
  margin-top: .5rem;
  font-size: .75rem;
}

.deck-cards {
  img {
    width: 11rem !important;
    min-width: 1.5rem !important;
  }

  .zoom:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    z-index: 1000;
  }
}

.deck-stats {
  margin-top: 1rem;
  border-top: 1px solid #3d3d3d;
  border-bottom: 1px solid #3d3d3d;
}

.active {
  color: #ffeb3b;
  font-weight: 600;
  border-bottom: 2px solid #ffeb3b;
  padding-bottom: 4px;
}

.deck-export-buttons {
  display: flex;
  flex-direction: row;
  gap: .5rem;
  margin-top: 1rem;

  button {
    padding: .1rem .5rem;
    font-size: .75rem;
  }
}

.deck-name {
  font-weight: 600;
  margin-bottom: 0.25rem;
  font-size: 1.15rem;
}